
/* */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: grey
    background-color: blue
}

img {
    max-width: 100%
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

container {
    max-width: 956px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: lightblue;
    color: black;
    height: 70px;
    line-height: 1.5;
}

/*Adjusting the font and font weight for better visibility*/
.navbar .logo {
    font-size: 28px;
    font-weight: bolder;
    background-color: green
}

.navbar a {
    color: green;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* adding the hover feature, changing the background color for better visibility*/
.navbar a:hover {
    background: white;
    color: lightblue
}

/*defining navigation bar items and their position*/
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/*placing navigation bar items horizontally*/
.navbar ul {
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    margin-left: 18px;
}

.header {
    background-color: lightblue;
    color: rgb(20, 20, 19);
    line-height: 1.5;
    min-height: 400px;
    margin-top: 5px; 5px;
}

.header h1 {
    font-size: large;
    font-weight: bold;
    line: height 100%;
}

/*giving the avatar max width and length and also margins all around*/
.header img{
    max-width: 960px;
    max-height: 236px;
    margin: 8px; 8px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 2.2;
    padding: 8px; 8px;
}

.boxa {
    flex: 1;
    background: red;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px black (0, 0, 0, 0.6);
    padding: 15px 20px;
}

.box {
    flex: 1;
    background: blue;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px black (0, 0, 0, 0.6);
    padding: 15px 20px;
}

.boxb {
    flex: 1;
    background: white;
    color: blue;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px black (0, 0, 0, 0.6);
    padding: 15px 20px;
}

/* defining the max. screen width for better responsiveness*/
@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }

}